.row-row-header{
	margin: 0px auto;
	padding: 0px auto;
}
.row-row-content{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer{
		padding-top: 50px;
		background: #D1C4E9;
	}



.header{
	background-color: #9575CD;
	color: floralwhite ;
	padding: 20px 50px 20px 50px;
	height: 300px;
	padding-top: 100px;
	padding-right: 300px;
	padding-left: 300px;
}
	
.address{
	font-size: 80%;
	margin: 0px;
	color: #0f0f0f;
}
.body{
	padding: 50px 0px 0px 0px;
	z-index: 0;

}
.navbar-dark{
	background: #512DA8;
}
#data{
	padding-top: 100px;
	padding-bottom: 100px;
}

#nested{
	padding-top: 100px;
	padding-bottom: 100px;

}